body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  gap: 16px;
}

button {
  padding: 10px 20px;
}

p {
  margin: 12px 0;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.game-info-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px solid black;
  width: 30%;
  font-weight: bold;
}

.score-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.score {
  font-size: 32px;
}

.round {
  font-size: 24px;
}

.win-text {
  color: green;
}

.draw-text {
  color: blue;
}

.lose-text {
  color: red;
}
