body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  gap: 16px;
  background-color: #f3f4f6;
  padding: 24px;
}

button {
  padding: 10px 20px;
}

p {
  margin: 12px 0;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.game-info-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 8px;
  width: 30%;
  font-weight: bold;
  box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1);
}

.score-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.score {
  font-size: 32px;
}

.round {
  font-size: 24px;
}

.win-text {
  color: green;
}

.draw-text {
  color: blue;
}

.lose-text {
  color: red;
}

.final-result {
  padding: 15px;
}

.result-win {
  background-color: lightgreen;
}

.result-lose {
  background-color: lightcoral;
}