body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

button {
    padding: 10px 20px;
}